{% extends 'app/base.html' %}

{% block title %}
{{ coin.title.title }} {{ coin.type.title }}
{% endblock %}


{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{ coin.title.title }}</h1>
      <p class="col-md-8 fs-4">{{ coin.title.description }}</p>
      <p class="col-md-8 fs-4">{{ coin.type.title }}</p>
      <p class="col-md-8 fs-4">{{ coin.nominal }}</p>
      <p class="col-md-8 fs-4">{{ coin.weight }}</p>
      <p class="col-md-8 fs-4">{{ coin.diameter }}</p>
      {% if user.is_authenticated %}
      <button class="btn btn-primary btn-lg" type="button" ><a href="{% url 'coin_edit' pk=coin.pk %}">Edit</a></button>
      {% endif %}
    </div>
  </div>
<br>

{% endblock %}
