{% extends 'app/base.html' %}

{% block title %}
{{ coin.title.title }} {{ coin.type.title }}
{% endblock %}


{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{ coin.title.title }} {{ coin.theme.title }}</h1>
      <h2 class="col-md-8 fs-4">{{ coin.title.description }}</h2>
      <p class="col-md-8 fs-4">Тип монеты: {{ coin.type.title }} {{ coin.type.proba }}</p>
      <p class="col-md-8 fs-4">Номинал: {{ coin.nominal }} сом</p>
      <p class="col-md-8 fs-4">Вес: {{ coin.weight }} гр.</p>
      <p class="col-md-8 fs-4">Диаметр монеты: {{ coin.diameter }} мм.</p>
      <p class="col-md-8 fs-4">Особенности: {{ coin.type.technology }}</p>
      {% if user.is_authenticated %}
      <a class="btn btn-warning" href="{% url 'coin_edit' pk=coin.pk %}" role="button">Edit</a>
      {% endif %}
    </div>
  </div>
<br>

{% endblock %}
