{% extends 'app/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<div class="col text-center mt-4">
  <div class="form-group">
    <form method="POST" action="{%url 'login_user' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name='username' placeholder='Enter Username'>
        <div class="form-text">Как звали мою собаку?</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name='password' placeholder='Enter Password'>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
